<script id="bootstrap-current-user" type="text/javascript">
  <% if logged_in? %>
  	window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
  		user: current_user
    ).html_safe %>
  <% end %>

  window.list_outline = <%= image_path("list_outline.png") %>
  window.add_outline = <%= image_path("add_outline.png") %>
  window.play_outline = <%= image_path("play_outline.png") %>
  window.settings = <%= image_path("settings.png") %>
  window.user_outline_light = <%= image_path("user_outline_light.png") %>
  window.user = <%= image_path("user.png") %>
  window.password = <%= image_path("password.png") %>


</script>

<main id="root"></main>
